#header{
width: 100%; position:fixed;
   background-color: darkorange;
    text-align: right;
    top: 0%;
    padding-top: 3%;
    padding-bottom: 2%;
    font-size: 30px;
    
}

button{
    background-color: black;
    color: aliceblue;
    background-color: black;
    font-size: 30px;
    border-color: darkorange;
}


form{
    z-index: 2;
    position: relative;
}
#footer{
background-color: darkgrey;
    color: white;
    position:fixed;
    bottom:0%;
    width: 100%;
    padding: 16px;
    text-align: center;
}
#title{position: relative;
    left: 20px;
    margin: 0%;
    color: black;
    float: left;
    text-align:left;
}

#lib{z-index: -1;
    position:absolute;
    width: 100%;
    right: 0%;
    
}
#nav{z-index: -1;
	margin-top:100px;
    margin-bottom: 50%;
    position:absolute;
    width: 100%;
    height:100%;
    color: red;
    overflow:hidden;
}
#embded{position:fixed;
	top:8%;width:100%;
	text-Align:center;
}

.menu{position:fixed;
	top:0;
	width:100%;
	background-color:#3f423c;
	height :62px;
	 text-align: center; 
	 
}
.menu a {
text-align:center; 
float:left;
margin-left:24%;
padding:19px;
font-size:20px;
color:white;
background-color:#3f423c;
}
.menu a:hover{background-color:black;}


.st{color:red;
//text-align:center; 
//float:right;
}


